<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Control.Properties.Settings.stringConexaoCadFacil"
            connectionString="server=localhost;user id=root;database=restaurante"
            providerName="MySql.Data.MySqlClient" />
        <add name="Control.Properties.Settings.stringConexaoHotelaria"
            connectionString="server=localhost;user id=root;database=cfshotelaria"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>